<head>
  <style>
    .ml10 {
      position: relative;
      font-weight: 900;
      font-size: 4em;
      width: 1200px;
      height: 720px;
    }

    .text-wrapper {
      position: relative;
      display: inline-block;
      overflow: hidden;
      width: 1200px;
      height: 720px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 40px;
      padding-right: 40px;
    }

    .ml10 .letter {
      display: inline-block;
      line-height: 1em;
      transform-origin: 0 0;
      opacity: 0;
    }

    #loading {
      height: 10px;
      background-color: #ff0000;
    }

    #loading-container {
      height: 10px;
      width: 1280px;
      position: fixed;
      top: 710px;
    }

    .wrap {
      overflow-wrap: break-word;
      display: inline-block;
    }

    body {
      margin: 0;
    }
  </style>
  <script src="./anime.min.js"></script>
</head>
<body>
  <h1 class="ml10">
    <span class="text-wrapper"> <span class="letters"></span> </span>
    <div id="loading-container"><div id="loading"></div></div>
  </h1>
  <script>
    window.start = async text => {
      const styles = [
        {
          backgroundColor: "#9BA5B5",
          color: "#fff"
        },
        {
          backgroundColor: "#E8C3B9",
          color: "#fff"
        },
        {
          backgroundColor: "#224A54",
          color: "#fff"
        },
        {
          backgroundColor: "#1A1A1A",
          color: "#fff"
        },
        {
          backgroundColor: "#f3e9c6",
          color: "#402d2d"
        },
        {
          backgroundColor: "#c1605c",
          color: "#fff"
        },
        {
          backgroundColor: "#45383c",
          color: "#fff"
        },
        {
          backgroundColor: "#98bec8",
          color: "#fff"
        },
        {
          backgroundColor: "#98bec8",
          color: "#fff"
        }
      ];
      var textWrapper = document.querySelector(".ml10 .letters");

      window.finished = false;

      const run = () =>
        new Promise(resolve => {
          const min = 2500;
          let duration = textWrapper.textContent.length * 20;
          if (duration < min) {
            duration = min;
          }
          const loading = document.querySelector("#loading");
          window.animation = anime({
            targets: ".letter",
            rotateY: [-90, 0],
            opacity: [0, 1],
            duration: duration,
            delay: (el, i) => 65 * i,
            autoplay: false,
            complete: () => resolve(),
            update: function(anim) {
              loading.style.width = anim.progress + "%";
            }
          });

          loading.style.width = "0%";
          window.next = 0;
        });

      for (let i = 0; i < text.length; i++) {
        const style = styles[Math.floor(Math.random() * styles.length)];

        const t = document.querySelector(".text-wrapper");
        t.style.backgroundColor = style.backgroundColor;
        t.style.color = style.color;
        const wordArr = text[i].split(" ");
        window.scene = i + 1;
        textWrapper.innerHTML = wordArr
          .map(
            word =>
              `<span class='wrap'>${word.replace(
                /\S/g,
                "<span class='letter'>$&</span>"
              )}</span>`
          )
          .join(" ");
        await run();
      }

      window.finished = true;
    };
  </script>
</body>
